html{
  scroll-behavior: smooth;
}


body{
  font-family: 'Noto Sans JP', sans-serif;
  color: #003366;
}



header {
  background: #fdfdfd;
  padding: 20px 0;
  border-color: blue;

  }




.caixa{
  position: fixed;
  background-color: #f2f2f2;
  width: 100%;
  top: 0;
  overflow: hidden;
  padding: 10px;
  z-index: 1;

}

nav{
  display: flex;
  position: absolute;
  top: 45px;
  right: 150px;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}
nav a {
  text-transform: uppercase;
  color: #003366;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
}

nav a:hover{
  color: #c69c6d;
  text-decoration: underline;
}


.menu_mobile{
  display: none;
}

.caixa img {

  width: 15%;
  padding: 2px;
  margin: auto;

}




.conteudo{
 text-align:center;
 margin:auto;
 width: 900px;

}

.titulo_principal{
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 2em;

}


}

.texto{
  font-size: 16px;
  text-align:left;
  border-top:solid;
  border-bottom: solid;
  border-width: thin;

}



#missao {
  font-size: 20px
}

em strong {
  COLOR: #ff0000;
}



.form {

height: auto;
margin-top: 20px;
padding: 5px;
background-image: url("imagens/blog.png");
background-repeat: no-repeat;

 }

 .fala{
  text-align: center;
  color: #c69c6d;
  font-size: 2em;

  padding: 20px;
  margin:0 auto;
  clear: center;
 }
 
#thumbnails{
  display:flex;
  max-width: 900px;
  padding-top: 40px;
  margin:auto;
  box-shadow: 30%;

}

.thumbnails:hover {
  opacity: 50%;
}

.thumbnails{
background-color:#f2f2f2;
margin:auto;
max-width: 266px;
height:auto;
}

.imagemthumbnails{

width:266px;

  
}
.textothumbnails{
  padding: 10px;
  max-width: 266px;
  font-size: 16px;
  font-weight: bold;
}

.titulothumbnails{
  font-size: 2em;
}





 .form{
  text-align: center;

 }

 }
 .formulario{
  width: 500px;
  display: flex;
  margin-bottom: 50px;
}

.form input{
  
  width: 500px;
  height: 40px;
  border-color: #003366;
  border-radius: 5px;
  margin:3 3 3 3px;
  }


.form textarea{
  width:500px;
  height: 80px;
  border-color: #003366;
  border-radius: 5px;
  margin:3 3 3 3px;
}
 
.form button{
  align-content:center; 
  width: 150px;
  height: 30px;
  background-color:#003366;
  color: #c69c6d;
  border-radius: 15px;
  border: none;
  transition: 0,5s all;
  cursor: pointer;
}

.form button:hover{
  background-color: #f2f2f2;
  border-style:solid;
  
}



footer{
   background:#003366;
   padding: 20px;
   text-align: center;

 }

 .redes{
  margin-top: 20px;
 }

 .redes p{
  margin:10px;
  font-size: 13px;
  color:#c69c6d;
 }

.redes a{
font-size:30px;
  margin: 10px;
  color:#c69c6d;
}

.copyright{
  font-size: 13px;
  color: #c69c6d;
  margin: 20px 0 0;
}

@media screen and (max-width: 375px){

 
.caixa{
  width:100%;
  height: 60px;
  padding: 0px;
  
}

 .caixa img{
  width: 200px;
  margin-left: 100px;
  }

nav{
  display: flex;
  position: absolute;
  top: 20px;
  left:20px;
  
}
  .menu{
  display: none;
 }

 
.menu_mobile {
  display:flex;
 }

.conteudo{
  width: 375px;

}

 .titulo_principal{
width: 375px;
margin-top:50px;
margin-left: 20px;
font-size: 16px;
 }

.imagem {
  width: 375px;
  height: auto;
  margin-left: 20px;
  

 
}


.texto{
  width: 375px;
  font-size: 16px;
  padding: 10px;

}

#thumbnails{
width: 375px;
display: block;
padding: 5px;
margin:auto;

}

.thumbnails{

width: 100%;
padding: 15px;

}

  .contato{
    display:block;
    width: 100%;
    margin: auto;
    
  }

   
.form input {
    width:100%;
    margin:auto;

  }

  .formulario {
    width:100%;
    margin:auto;
  
  }

 .fala{
width: 100%;

 }
.form textarea{
  width: 100%;
}



.texto{
  width: 375px;
  font-size: 16px;
  padding: 10px;

}

#thumbnails{
width: 375px;
display: block;
padding: 5px;
margin:auto;

}

.thumbnails{

width: 100%;
padding: 15px;

}

  .contato{
    display:block;
    width: 100%;
    margin: auto;
    
  }

   
.form input {
    width:100%;
    margin:auto;

  }

  .formulario {
    width:100%;
    margin:auto;
  
  }

 .fala{
width: 100%;

 }
.form textarea{
  width: 100%;
}



}

